<html>
<head>
<link href="Calculation.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body style="background-color:lightcyan">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="Calculation">Calculation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact" href="contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link GuestBook" href="GuestBook">GuestBook</a>
      </li>
    </ul>
  </div>
</nav>

<script src = "main.js"></script>
<div id="head">
  <h1><img src="https://www.proudstories.com/wp-content/uploads/2016/09/zara-logo.jpeg" width="100" align="center">Item Price Calculation</h1>
  </div>
  <script type="text/javascript">
    function checkTotal() {
      document.listForm.total.value = '';
      var sum = 0;
      for (i=0;i<document.listForm.choice.length;i++) {
        if (document.listForm.choice[i].checked) {
          sum = sum + parseInt(document.listForm.choice[i].value);
        }
      }
      document.listForm.total.value = sum;
    }
    
   
  </script>
  <form name="listForm">
      <table style="width:25%" align="center" text-size="25px">
  <tr><td><input type="checkbox" name="choice" value="199" onchange="checkTotal()"/></td><td>leather jackets</td><td>$199</td></tr>
  <tr><td><input type="checkbox" name="choice" value="149" onchange="checkTotal()"/></td><td>suit blazer</td><td>$149</td></tr>
  <tr><td><input type="checkbox" name="choice" value="79" onchange="checkTotal()"/></td><td>trouser</td><td>$79</td></tr>
  <tr><td><input type="checkbox" name="choice" value="49" onchange="checkTotal()"/></td><td>sweatshirt</td><td>$49</td></tr>
  <tr><td><input type="checkbox" name="choice" value="129" onchange="checkTotal()"/></td><td>leather loafers</td><td>$129</td></tr>
  <tr><td></td><td>Total:</td><td> $<input type="text" size="2" name="total" value=""/></td></tr>
  <tr><td></td><td><button type="submit">Buy Now</button></td><td></td></tr></table>
  </form>
  <a href="test.html">test.html</a>
  <footer class="container-fluid text-center">
    <p>copyright &#169 Sai Mohan</p>
  </body>
  </html>
     