<!DOCTYPE html>
<html>
    <head>
        <title>Sai Mohan</title>
        <link href="index.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Sai Mohan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Calculation">Calculation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact" href="Contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact" href="GuestBook">GuestBook</a>
      </li>
    </ul>
  </div>
</nav>

        </head>
        <body>

            
               
                <div class="container-fluid">
            <header>

               
            
                <div class="details">
                        <div class="bio">
                    <div id="image1">
                    <img  src="https://instagram.fcou1-1.fna.fbcdn.net/vp/aa70e8c1b5e5f58831681009c2cfc86f/5B0B1904/t51.2885-19/s150x150/26871000_1430433847085308_6048995685867454464_n.jpg" >
                
                </div>
                    
                    <ul id="personal">
                    <ul>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sai Mohan</ul>
                    <ul>DOB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 20-10-1995</ul>
                    <ul>Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 7382968119</ul>
                    <ul>Address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;322,N.Walnut,Maryville,MO</ul>
                    <ul>email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nrtsaimohan@gmail.com</ul>
                   
                </div>
            </div>
            </header>

            <div class="row">
                    <div class="col-md-8">
                            <h3>About me: </h3>
            <h5 >I'm Sai Mohan</h5>
                <p class="about">I am currently pursuing masters in Applied Computer in Northwest Missouri State University in Maryville and this is my first semester.I am from Tanuku, Andhra Pradesh, India. I have done my graduation in Mechanical Engineering from Vellore Institute 
                        of Technology in Vellore in May 2017. I want to work as a <b><em>Software developer</em></b> in a next couple of years.My hobbies are Playing Cricket, listening music.I like learning new things.I also like reading Self-help and financial books. </p>
                    </div>
                <div class="col-md-4">
                        <iframe width="640" height="360" src="https://www.youtube.com/embed/6mOOTnLaLNA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            
            </div>
        </body>
        <footer><em>Thank you,</em></footer>
</html>